div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.hiji {
    background-color: indianred;
}

.satu {
    background-color: aquamarine;

}

.dua {
    background-color: burlywood;
    /* position: relative; terlihat naik */
    /* position: absolute; terlihat numpuk diatas */

}

.tiga {
    
    background-color: cornflowerblue;
}
li {
    display: inline-block;
    padding: 20px;
}

.container {
    border: blanchedalmond 5px solid;
    width: 500px;
    height: 600px;
    margin: auto;
    padding: 5px;
    position: relative;

}

.container div {
    margin: auto;

}

.one {
    background-color: cadetblue;
    width: 100px;
    height: 90px;

}

/* position fixed itu nempel di tag body */
.two {
    background-color: crimson;
    width: 100px;
    height: 90px;
    position: relative;
    top: 0px;
    left: 0px;
}

.three {
    background-color: darkcyan;
    width: 100px;
    height: 90px;
}